mixin gameBlock(game = {})
    .game-block          
        .block__img
            a(href=routes.gameDetail(game.id))
                img(src=game.mainImg)
        .block__text
            span.block__title #{game.title}
            span.block__platform #{game.platform}
            span.block__genres #{game.genres}