mixin gameBlock(game = {})
    .gameBlock  
        h1 #{game.title}
        h2 #{game.company}
        h3 #{game.releaseDate}
        h4 #{game.platform}
        img(src=game.mainImg)
        h6 #{game.genres}
        a(href=game.link target="blank") Go link
        