extends layouts/main

block content
    .game-detail#jsGameDetail
        section.game__info
            h1.info__title #{game.title} 
            .img-frame
                img.info__img(src=game.mainImg)
            h4.info__company company: #{game.company}
            h4.info__releaseDate releaseDate: #{game.releaseDate}
            h4.info__platform platform: #{game.platform}
            .info__link
                a(href=game.link target='blank') Go Link
        section.game__video
            span This is Video section        
        section.game__comments
            if game.comments.length === 1
                span.game__comment-number 1 comment
            else
                span.game__comment-number #{game.comments.length} comments