extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")      
            input(type="text", name="name", placeholder="Full Name", required=true, autocomplete='off')       
            input(type="email", name="email", placeholder="Email", autocomplete='off')   
            input(type="id", name="id", placeholder="ID", required=true, autocomplete='off')   
            input(type="password", name="password", placeholder="Password", required=true, autocomplete='off')
            input(type="password", name="password2", placeholder="Verify Password", required=true, autocomplete='off')
            input(type="submit", value="Join now")
        button.steam-login
            a(href="https://www.github.com")
        