header.header
    .header__column
        a(href=routes.home) home
    .header__column
        form(action=`/games${routes.search}`, method="get")
            input(type="text",placeholder="Search by term...", name="term")
    .header__column
        ul
        if !user.loggedUser
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) log In
        else
            li
                a(href=`/users${routes.me}`) Profile
            li
                a(href=routes.logout) Log Out
    hr